body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-image: url('/images/atr.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


h2 {
    color: #2c3e50;
    margin-bottom: 15px;
}

/* Tombol tambah */
.btn-add {
    display: inline-block;
    padding: 10px 16px;
    margin-bottom: 15px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-add:hover {
    background-color: #2980b9;
}

/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}

table th {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 12px;
    text-align: left;
    font-size: 14px;
}

table td {
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

table tr:hover {
    background-color: #f1f7ff;
}

/* Tombol aksi */
.action-btn {
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
}

.btn-edit {
    background-color: #f39c12;
}

.btn-edit:hover {
    background-color: #d68910;
}

.btn-delete {
    background-color: #e74c3c;
    border: none;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #c0392b;
}

form {
    display: inline;
}

/* Card form */
.form-card {
    max-width: 500px;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}

/* Input */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
    color: #2c3e50;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #3498db;
    outline: none;
}

/* Tombol */
.btn-save {
    background-color: #27ae60;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-save:hover {
    background-color: #1e8449;
}

.btn-back {
    margin-left: 10px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
}
